{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Curso {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" /> {% endblock %}
{% block 'titlebanner' %} {{course}} {% endblock %}
{% block 'subtitlebanner' %} {{course.descripton |linebreaks}} {% endblock %}
{% block 'botao' %}<a href="{% url 'enrollment' course.slug %}" class="button is-info">Inscreva-se</a>{% endblock %}

{% block 'body' %}

<section class="section">
    <div class="content">
        <div class="columns">
            <div class="column">
                {% if course.image %}
                <img src="{{course.image.url}}" alt="{{course}}">
                {% else %}
                <img src="{% static 'img/notfound.jpeg' %}" alt="{{course}}">
                {% endif %}


            </div>
            <div class="column">
                <h4 class="content-subhead">Sobre o Curso</h4>
                <br>
                <p>{{course.about |linebreaks}}</p>
                <h4>Duvidas?</h4>
                <p>
                    <a href="#contato" class="button  is-primary">Fale Conosco</a>
                </p>
            </div>

        </div>
    </div>
    <hr>

    <div class="content" id="contato">
        <div>
            <h3>Tire duvidas sobre o Curso</h3>
            {% if is_valid %}
            <p>Você enviou os dados com sucesso.</p>
            {% endif %}
            <form action="#contato" class="pure-form pure-form-aligned" method="post">{% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        <div class="field">
                            {{ field.label_tag }}
                            <div class="control">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                            <ul class="errorlist">
                                <li>Este campo é obrigatório</li>
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div >
                        <button type="submit" class="button is-link">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>

</section>

{% endblock %}