{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Cursos {% endblock %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> {% endblock %}

{% block 'body' %}
    
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h4 class="content-subhead">
                        Listagem de cursos do SimpleMooc
                    </h1>
                    <hr>
                    <p>
                        Abaixo a lista de Cursos disponiveis na plataforma
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    {% for item in cursos %}
    <div class="content">
        
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box" style="width: 50%; height: 40%;">
                    {% if item.image %}
                        <a href="{% url 'details' item.slug %}"> <img src="{{item.image.url}}" alt="{{item.name}}" /> </a>
                    {% else %}
                        <a href="{% url 'details' item.slug %}"> <img src="{% static 'img/notfound.jpeg' %}" alt="{% static 'img/notfound.jpeg' %}" /> </a>
                    {% endif %}
                </div>
                
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <a href="{% url 'details' item.slug %}"> <h4 class="content-subhead">{{item.name}}</h4></a>
                    <h3>{{item.name}}</h3>
                    <p>
                        {{item.descripton|linebreaks}}
                    </p>
                    <a href="{% url 'details' item.slug %}" class="pure-button primary-button">Ver mais</a>
                </div>
            
                    
                
            </div>
        </div>        
    </div>
    {% empty %}
        <div class="splash">
            <div class="pure-g-r">
                <div class="pure-u-1">
                    <div class="l-box splash-text">
                        <p>
                            Nenhum curso está disponivel na plataforma.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {%  endfor  %}
    <div class="footer">
        Simple MOOC - Uma simples plataforma de ensino a distância
    </div>
    
{% endblock %}