{% extends "profile.html" %}
{% load static %}
{% block 'title' %} Editar Senha {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" /> {% endblock %}

{% block breadcrumb %}
{{block.super}}
<li><a href="#">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}
<aside class="menu">
  <p class="menu-label">
    Editar Senha
  </p>
  <hr>
  <form method="post"> {% csrf_token %}
    {% if success %}
    <div class="notification is-success">
      <p>A sua senha foi alterada com sucesso.</p>
    </div>
    {% endif %}
    <ul class="menu-list">
      {{ form.non_field_errors }}
      {% for field in form %}
      <div class="field">
        {{field.label_tag}}
        <div class="control has-icons-left has-icons-right">
          {{field}}
        </div>
        {{ field.errors }}
      </div>
      {% endfor %}

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Alterar Senha</button>
        </div>
      </div>

    </ul>
  </form>
</aside>
{% endblock %}