{% extends "base.html" %}
{% load static %}
{% block 'title' %} Login {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" /> {% endblock %}
{% block 'titlebanner' %} Login {% endblock %}
{% block 'subtitlebanner' %} Área para membros {% endblock %}
{% block 'body' %}

<section class="section">
    
    <div class="container">
        <form class="box" method="post">{% csrf_token %}
            {{form.non_field_errors}}
            {% for field in form %}
            <div class="field">
              <label class="label">{{field.label}}:</label>
              <div class="control">
                {{ field }}
              </div>
            </div>
            <p class="help is-success">
                {{ field.errors }}
            </p>
            {% endfor %}
            <p class="mb-2" ><a href="{% url 'password_reset'%}">Esqueci minha senha</a></p>
            
            <button class="button is-link">Entrar</button>
            <a href="{% url 'register'%}" class="button is-success">Cadastrar-se</a>

        </form>

    </div>
</section>
{% endblock %}
