{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}" />
    {% block 'head' %}{% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content">
        {% block 'body' %}{% endblock %}
    </div>
    {% block 'js' %}{% endblock %}
    <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>

</html>