{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% block 'head' %}{% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="splash" style="background-color: #83c5be">
      <div class="l-box splash-text">
          <h1 class="splash-head">
              {% block 'titlebanner' %}{% endblock %}
          </h1>
          <hr>
          <p>
            {% block 'subtitlebanner' %}{% endblock %}
          </p>
          <br>
          <p>
            {% block 'botao' %}{% endblock %}
          </p>
  
      </div>
    </div>

    {% block 'body' %}{% endblock %}
    
    {% block 'js' %}{% endblock %}
    <footer class="footer is-dark">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  </body>
</html>