{% load static %}
<nav class="navbar is-primary is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url  'index' %}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/MOOC_-_Massive_Open_Online_Course_logo.svg" width="112" height="28">
        </a>

        
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url  'index' %}">
                Pagina Inicial
            </a>
            {% if user.is_authenticated %}
            <a class="navbar-item" href="{% url 'home' %}">
                Cursos
            </a>

            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Mais
                </a>
                <div class="navbar-dropdown">
                    
                    <a class="navbar-item">
                        Contato
                    </a>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <p>Olá, {{user.first_name}}! &nbsp; </p>
                    <a class="button is-white" href="{% url 'profile' %}">
                        <strong>Painel</strong>
                    </a>
                    <a class="button is-danger" href="{% url 'logout' %}">
                        Sair
                    </a>
                </div>
            </div>
        </div>

        {% else %}

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{% url 'register' %}">
                        <strong>Cadastrar</strong>
                    </a>
                    <a class="button is-light" href="{% url 'login' %}">
                        Entrar
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>